<div class="linkWrap2">
  <div>
    <span><a href="#/home">Home</a></span>
    <span><a href="#/about">About</a></span>
    <span><a href="#/appointment">Appointments</a></span>
    <span><a href="#/prices">Prices</a></span>
    <span><a href="#/contact">Contact</a></span>
    <span><a href="#/media">Media</a></span>
  </div>
</div>

<!--
<div class="aboutWrapper">
  <div class="parallax-container">
    <div parallax><img class="aboutImg" src="styles/kayak.jpg"></div>
  </div> -->



    <div class="profiles">
       <div class="animated fadeInLeft danProfile">
         <img src="styles/dan2.jpg"/>
         <div class="aboutWrap">
           <p class="names">Drew</p>
             <div id="danAbout">
                 <p>Bacon ipsum dolor amet sausage chuck sirloin pig pastrami corned beef
                   beef ribs landjaeger strip steak. Tenderloin pork loin cupim ham, rump capicola bacon shank
                   ribeye meatloaf pancetta jerky short loin sausage filet mignon. Venison turkey ham bresaola
                   pancetta cupim corned beef. Alcatra brisket venison prosciutto, pancetta sirloin pig turkey pork
                   frankfurter rump shank cupim short ribs.

                   Picanha pork ham hock, kielbasa tri-tip boudin tongue pork chop shankle landjaeger corned beef
                   filet mignon. Drumstick beef leberkas porchetta short loin. Beef chicken brisket, rump ground
                   round alcatra doner t-bone meatball shankle short loin ham swine. Shoulder short ribs prosciutto
                   swine boudin.
                 </p>
               </div>
             </div>
       </div>
       <div class="animated fadeInRight jamesProfile">
         <img src="styles/james2.jpg"/>
         <div class="aboutWrap">
           <p class="names">James</p>
           <div id="jamesAbout">
               <p>Strip steak spare ribs pork loin jowl leberkas, ground round pork chop brisket. Rump frankfurter
                  kielbasa shoulder brisket venison, ball tip pork belly ribeye pork loin flank. Tenderloin doner
                  corned beef shoulder turducken, brisket shankle tri-tip swine leberkas flank drumstick chicken
                  shank kielbasa. Pig cow cupim ribeye porchetta prosciutto. Pork chop picanha strip steak, jerky
                  tongue frankfurter pancetta corned beef filet mignon. Corned beef pork belly short ribs cow
                  fatback. Swine pork belly rump leberkas, pork pastrami sirloin biltong beef ribs filet mignon
                  kevin. Picanha pork ham hock, kielbasa tri-tip boudin tongue pork chop shankle landjaeger corned beef
                   filet mignon.
               </p>
            </div>
       </div>
     </div>
  </div>



</div>
