<div class="linkWrap2">
  <div>
    <span><a href="#/home">Home</a></span>
    <span><a href="#/about">About</a></span>
    <span><a href="#/appointment">Appointments</a></span>
    <span><a href="#/prices">Prices</a></span>
    <span><a href="#/contact">Contact</a></span>
    <span><a href="#/media">Media</a></span>
  </div>
</div>

<div class="contactWrapper">
  <div class="parallax-container">
    <div class="rowCenter">
      <h5 class="aboutme header col s12 light">About Me</h5>
    </div>
    <div parallax><img class="contactImg" src="styles/contactImg2.jpg"></div>
  </div>
  <div class="contactMain">
    <div class="icons">
      <a href="https://www.facebook.com/danburrybarbershop">
        <i class="fa fa-facebook"></i><span class="mediaLink">Facebook</span>
      </a>
      <a href="https://twitter.com/DanburryBarber">
        <i class="fa fa-twitter"></i><span class="mediaLink">Twitter</span>
      </a>
    </div>
    <div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
