<div class="mainWrap">
  <div class="linkWrap2">
    <div>
      <span><a href="#/home">Home</a></span>
      <span><a href="#/about">About</a></span>
      <span><a href="#/appointment">Appointments</a></span>
      <span><a href="#/prices">Prices</a></span>
      <span><a href="#/contact">Contact</a></span>
      <span><a href="#/media">Media</a></span>
    </div>
  </div>

<div class="contactWrapper">

  <div class="firstBlock">
  </div>

  <div class="contactBlock">
    <div class="infoIconWrap">
      <div class="contactInfo">
        <p id="shopName">Danburry Barber Shop</p>
        <p>55 North University Avenue #145<br>Provo, Utah 84601</p>
        <p>1(313)-782-3739</p>
        <p>drewdanburry@gmail.com</p>
      </div>
      <div class="iconsWrap">
          <ul>
            <li>
              <a href="https://www.facebook.com/danburrybarbershop">
              <i class="fa fa-facebook"></i><span class="mediaLink"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/DanburryBarber">
              <i class="fa fa-twitter"></i><span class="mediaLink"></span>
              </a></li>
            <li>
              <a href="http://www.yelp.com/biz/danburry-barber-shop-provo-2">
              <i class="fa fa-yelp"></i><span class="mediaLink"></span>
              </a>
            </li>
          </ul>
      </div>
    </div>
    <div class="googleMaps">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
  </div>
</div>
