<header>
  <div class="logo"><img src='styles/danburryLogo.png'></img></div>
  <div class="linkWrap">
    <div>
      <span><a href="#/home">Home</a></span>
      <span><a href="#/about">About</a></span>
      <span><a href="#/appointment">Appointments</a></span>
      <span><a href="#/prices">Prices</a></span>
      <span><a href="#/contact">Contact</a></span>
      <span><a href="#/media">Media</a></span>
    </div>
  </div>
</header>
    <div class="homePic">
      <img src='styles/suit.jpg'></img>
    </div>
    <div class="location">
      <p>Danburry Barber Shop</p>
      <p>55 North University Avenue #145</p>
      <p>Provo, Utah 84601</p>

      <p id="hoursOfOp">Open Tue - Sat</p>
      <p>10-6pm</p>

      <span><a href="https://www.facebook.com/danburrybarbershop"><img class="iconsHome" src="styles/fb.png"></img></a></span>
      <span><a href="https://twitter.com/DanburryBarber"><img class="iconsHome" src="styles/twit.png"></img></a></span>
      <span><a href="http://www.yelp.com/biz/danburry-barber-shop-provo-2"><img class="iconsHome" src="styles/yelp.png"></img></a></span>

    </div>
