<div class="linkWrap2">
  <div>
    <span><a href="#/home">Home</a></span>
    <span><a href="#/about">About</a></span>
    <span><a href="#/appointment">Appointments</a></span>
    <span><a href="#/prices">Prices</a></span>
    <span><a href="#/contact">Contact</a></span>
    <span><a href="#/media">Media</a></span>
  </div>
</div>

<div class="animated fadeIn pricingWrapper">
  <div class="pricingBox">
    <div class="title"> Basic Haircut
    </div>
    <div class="description topTwo">
      Detailed haircut along with a hot lather shave on the nape of
      the neck and a massage. Includes a beard trim if desired
    </div>
    <div class="priceTime">
      <span>$25</span>
      <span>25-30 Mins</span>
    </div>
  </div>

  <div class="pricingBox">
    <div class="title"> Gentleman's Haircut
    </div>
    <div class="description topTwo">
      Includes the Basic Haircut service, along with a hot lather
       face shave and a scalp treatment (shampoo and massage)
    </div>
    <div class="priceTime">
      <span>$60</span>
      <span>50-60 Mins</span>
    </div>
  </div>

  <div class="pricingBox">
    <div class="title"> Face Shave
    </div>
    <div class="description">
      Hot lather face shave with a straight razor. It's an
      experience
    </div>
    <div class="priceTime">
      <span>$35</span>
      <span>25-30 Mins</span>
    </div>
  </div>

  <div class="pricingBox">
    <div class="title"> Head Shave With Straight Razor
    </div>
    <div class="description">
      Head shave with hot lather, hot towels, and a straight razor
    </div>
    <!-- <div class="">

    </div> -->
    <div class="priceTime">
      <span>$40</span>
      <span>40 Mins</span>
    </div>
  </div>

  <div class="pricingBox">
    <div class="title"> Beard Trim
    </div>
    <div class="description">
      Beard trim with clippers
    </div>
    <div class="priceTime">
      <span>$10</span>
      <span>10 Mins</span>
    </div>
  </div>

</div>
