/*div, header{
  border: 1px solid blue;
}*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  -webkit-font-smoothing: antialiased;
}

header{
  display:float;
  margin-top: 5%;
  margin-left: 5%;
}


.logo {
  float: left;
  width: 15%;
  height: 15%;
}

.logo > img {
  width: 100%;
}

@media (max-width: 700px) {
  .logo {
    float: none;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  header {
    margin-left: 0;
  }

  .linkWrap {
    display: block;
    margin-bottom: 10%;
    margin-left: 20% !important;
  }

  .linkWrap span {
    display: block;
    text-align: center;
  }

  .linkWrap2 span {
    display: block;
    text-align: center;
  }

  .homePic {
    float: none !important;
    width: 100% !important;
  }

  .location {
    margin: 0 auto;
    margin-left: auto !important;
    text-align: center;
    width: 100%;
  }

  #hoursOfOp {
    padding-top: 10% !important;
  }
}

.linkWrap {
  float: left;
  width: 60%;
  margin-left: 25%;
}

div span a {
  text-decoration: none;
  color: #191919;
  font-size: 17px;
  margin-left: 5%;
  font-family: 'Cinzel', serif;
}

.location {
  float: left;
  font-family: 'Lato', sans-serif;
  margin-left: 7%;
  margin-top: 2%;
  font-size: 14px;
}

.homePic {
  width: 55%;
  height: 60%;
  float: right;
  margin-right: 3%;
  clear: both;
  margin-bottom: 10px;
  margin-top: -8%;
}

.homePic > img {
  width: 100%;
  height: 100%;
  clear: both;
}

.rowCenter {
  padding-top: 60px;
}

.hrLine {
  clear: both;
}

footer {
  clear: both;
  text-align: center;
}

a: hover {
  color: #052c68;
}

#hoursOfOp {
  padding-top: 20%;
}

.iconsHome {
  margin-top: 20%;
  height: 30px;
  width: 30px;
  margin-right: 10%;
}

.iconsHome:hover {
  opacity: 0.5;
}

/*----------------ABOUT---------------*/

.linkWrap2 > div {
  margin-top: 5%;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.aboutWrapper {
  height: 100vh;
  width: 100%;
}

.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.profiles {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-top: 150px;
}

.aboutImg {
  width: 100%;
}

.danProfile {
  width: 300px;
  height: 300px;
  margin-bottom: 550px;
  margin-right: 10%;
  margin-left: 10%;
}

.jamesProfile {
  width: 300px;
  height: 300px;
  margin-right: 10%;
  margin-left: 10%;
}

.names {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: #105F79;
}

.danProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

.jamesProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

#danAbout {
  padding-top: 5%;
}

#jamesAbout {
  padding-top: 5%;
}

@media (min-width: 400px) {
  .profiles {
    flex-flow: row wrap;
  }
}

.aboutWrap {
  margin-bottom: 100px;
}

/* --------------- APPOINTMENTS ---------------- */

.infoWrap {
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
}

.barberSelect {
  width: 50%;
  margin: 0 auto;
}

.calendarBox {
  width: 50%;
  margin: 0 auto;
}

#calendar {
  /*width: 100%;*/
}

.pricingOption {
  text-align: right;
  padding-left: 50px;
}

#phoneNum {
  width: 100%;
}

/* -------------- PRICES --------------*/

.pricingWrapper {
  width: 60%;
  margin: 0 auto;
}

.pricingBox {
  width: 65%;
  margin: 5% auto;
}

.title {
  font-size: 24px;
  font-family: 'Tinos', serif;
  color: #105F79;
}

.priceTime span {
  display: block;
}

.description {
  width: 60%;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.topTwo {
  padding-top: 25px;
}

.priceTime {
  display: inline-block;
  width: 30%;
  padding-left: 15%;
  font-size: 19px;
  font-family: 'Tinos', serif;
  color: #2b2a2a;
}

@media (max-width: 760px) {
  .pricingWrapper {
    width: 100%;
  }
}

/* ---------------- CONTACT ------------------ */

.mainWrap {
  height: 100%;
}

.contactWrapper {
  padding-top: 2%;
  height: 80%;
}

.firstBlock {
  width: 100%;
  height: 20vh;
  background-color: #EAEAEC;
}

.contactBlock {
  /*height: 250px;*/
  width: 100%;
  /*height: 64vh;*/
  /*background-color: #14353d;*/
  background-color: #1B1B1F;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 6%;
}

.infoIconWrap {
  width: 50%;
  margin-left: 6%;
  height: 100%;
}

.googleMaps {
  /*width: 50%;*/
  margin-top: 8%;
  margin-left: 5%;
}

.contactInfo {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 20%;
}

.fa {
  width: 55px;
  height: 55px;
  margin: 20px !important;
}

.iconsWrap {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.iconsWrap ul li {
  display: inline-block;
  text-align: center;
}

.fa {
  margin: 0;
  padding: .10em .14em .10em .14em;
  padding-top: 1em;
}

.fa-facebook {
  margin: 0;
  /*padding: .10em .14em .10em .14em;*/
}

a i{
  /*color: #105F79;*/
  color: #bbb;
  padding-right: 20px;
  /*border-style: solid;
  border-width: .03em;*/
}

i:hover {
  color: white;
}

.fa {
  border: 1px solid white;
}

.angular-google-map-container {
  height: 350px;
  width: 400px;
}

#shopName {
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .contactBlock {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .infoIconWrap {
    margin: 0 auto;
  }

  .googleMaps {
    margin-left: 0;
  }
}

/* ----------------- MEDIA ---------------- */

.photoWrap {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.photoGrid {
  width: 30%;
  border: 5px solid transparent;

}

.photoInGrid {
  width: 100%;
  height: 100%;
}

.loadingBar {
  width: 80%;
}

.progress {
  height: 5px !important;
}

@media (max-width: 1200px) {
  .photoGrid {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .photoGrid {
    width: 80%;
  }
}

/*------------------- ADMIN -----------------*/

.adminWrap {
  width: 17%;
  margin: 0 auto;
  padding-top: 20%;
}

/*------------------ ADMIN APPT ---------------- */

.adminApptWrap {
  width: 80%;
  margin: 0 auto;
}

.apptContent {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.deleteButton {
  margin-bottom: 20px;
}


.editWrapper {
  margin: 0 auto;
  width: 40%;
  padding-top: 100px;
}

.inputInfo {
  display: inline-block;
  width: 30% !important;
  text-align: center;
}

.haircutPrice {
  width: 40%;
}

.topButton {
  margin-top: 30px;
}
