/*div, header{
  border: 1px solid blue;
}*/

header{
  display:float;
  margin-top: 5%;
  margin-left: 5%;
}


.logo {
  float: left;
  width: 15%;
  height: 15%;
}

.logo > img {
  width: 100%;
}

.linkWrap {
  float: left;
  width: 60%;
  margin-left: 20%;
  margin-top: 8%;
}

div span a {
  text-decoration: none;
  color: #191919;
  font-size: 17px;
  margin-left: 5%;
  font-family: 'Cinzel', serif;
}

.location {
  float: left;
  font-family: 'Lato', sans-serif;
  margin-left: 7%;
  margin-top: 6%;
  font-size: 14px;
}

.homePic {
  width: 55%;
  height: 60%;
  float: right;
  margin-right: 3%;
  clear: both;
  margin-bottom: 70px;
}

.homePic > img {
  width: 100%;
  height: 100%;
  clear: both;
}

.hrLine {
  clear: both;
}

.footer {
  clear: both;
  text-align: center;
}

a: hover {
  color: #052c68;
}

/*----------------ABOUT---------------*/

.linkWrap2 > div {
  margin-top: 5%;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.aboutWrapper {
  height: 100vh;
  width: 100%;
}

.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.profiles {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-top: 150px;
}

.aboutImg {
  width: 100%;
}

.danProfile {
  width: 300px;
  height: 300px;
  margin-bottom: 400px;
  margin-right: 10%;
  margin-left: 10%;
}

.jamesProfile {
  width: 300px;
  height: 300px;
  margin-right: 10%;
  margin-left: 10%;
}

.names {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: #105F79;
}

.danProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

.jamesProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

#danAbout {
  padding-top: 5%;
}

#jamesAbout {
  padding-top: 5%;
}

@media (min-width: 400px) {
  .profiles {
    flex-flow: row wrap;
  }
}

/* -------------- PRICES --------------*/

.pricingWrapper {
  width: 60%;
  margin: 0 auto;
}

.pricingBox {
  width: 65%;
  margin: 5% auto;
}

.title {
  font-size: 24px;
  font-family: 'Tinos', serif;
  color: #105F79;
}

.priceTime span {
  display: block;
}

.description {
  width: 60%;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.priceTime {
  display: inline-block;
  width: 35%;
  padding-left: 20%;
  font-size: 16px;
}

/* ---------------- CONTACT ------------------ */

.contactWrapper {
  margin-top: 40px;
}

.contactImg {
  width: 100%;
}

.contactMain {
  overflow: hidden;
}

.icons {
  font-size: 28px;
  float: left;
  margin-top: 10%;
  margin-left: 20%;
}

.angular-google-map-container {
  height: 350px;
  width: 400px;
  float: left;
  margin-left: 40%;
  margin-top: 5%;
}

/* ----------------- MEDIA ---------------- */

.photoWrap {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.photoGrid {
  width: 30%;
  border: 5px solid transparent;

}

.photoInGrid {
  width: 100%;
  height: 100%;
}

.loadingBar {
  width: 80%;
}

/*.dynamic-grid {
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid {
    display: block;
}

.grid {
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded {
    visibility: visible;
    opacity: 1;
}*/
